<!DOCTYPE html>
<html>
  <head>
    <title>DMage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='container-fluid container-fluid-no-paddings'>
    <%= render "layouts/nav_bars/application" %>

    <div class="flash_messages">
      <%= flash_messages %>
    </div>

    <div class="content-container content-container__no-paddings">
      <%= yield %>
    </div>
  </body>
</html>
